* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav-bar {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 15px;
}

.logo-text span {
    color: var(--primary-text-color);
}
.logo{
    margin-top: 10%;
}

.sub-text {
    color: var(--secondary-text-color);
    font-size: 38px;
    margin-top: 2%;
}

.sub-text span {
    color: var(--primary-text-color);
}

.profile-image {
    height: 50px;
    width: 50px;
    background-color: var(--secondary-text-color);
    border-radius: 50%;
}

.home-container {
    margin-top: 100px; /* To avoid overlap with fixed navbar */
    padding-bottom: 80px; /* To create space for fixed chat box */
}

.chat-box {
    margin-top: 1%;
}

.chat-messages {
    width: 100%;
}
.has-chat-messages {
    overflow-y: auto;
    max-height: 83vh;
    padding-top: 20px;
    width: 100%;
}
.has-chat-messages::-webkit-scrollbar {
    display: none;
}

.chat-message {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.user-message {
    text-align: right;
    background-color: lightgray;
    width: fit-content;
    max-width: 500px;
    text-align: left;
    margin-left: auto;
    border-radius: 10px 0 10px 10px;
}

.bot-message {
    text-align: left;
    margin-right: auto;
}

.chat-input-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
    place-content: center;
}

.chat-input {
    height: 52px;
    width: 35%;
    outline: none;
    border: none;
    border-radius: 40px 0 0 40px;
    padding: 0 30px;
    color: white;
    font-size: 18px;
    background-color: var(--secondary-text-color);
}
.chat-with-input {
    height: 52px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0 0 0 0;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    background-color: var(--secondary-text-color);
}

.send-btn {
    height: 52px;
    width: 5%;
    background-color: var(--primary-text-color);
    outline: none;
    border: none;
    color: white;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 0 40px 40px 0;
}
.new-send-btn {
    height: 52px;
    width: 12%;
    background-color: var(--primary-text-color);
    outline: none;
    border: none;
    color: white;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 0 40px 40px 0;
}
.new-btn {
    height: 52px;
    width: 10%;
    background-color: var(--primary-text-color);
    outline: none;
    border: none;
    color: white;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 40px 0 0 40px;
}
.bot-profile{
    height: 40px;
    width: 40px;
}
.bot-reply-section{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Styles for fixed chat box when conversation has started */
.fixed-chat {
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    padding: 10px 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .home-container {
        margin-top: 30%;
    }

    .chat-box {
        padding: 0 10px;
        width: 90%;
    }

    .chat-input {
        width: 100%;
        font-size: 16px;
    }

    .send-btn {
        min-width: 15%;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .logo-text {
        font-size: 28px;
    }

    .home-container {
        padding: 0 20px;
        margin-top: 50%;
    }

    .chat-box {
        padding: 0 10px;
    }

    .chat-input {
        height: 48px;
        font-size: 16px;
    }
    
    .chat-with-input {
        height: 48px;
        font-size: 16px;
    }
    .new-btn{
        height: 48px;
        width: 15%;
    }
    .send-btn {
        height: 48px;
        padding: 0 3px;
        font-size: 16px;
    }
    .new-send-btn {
        height: 48px;
        font-size: 16px;
        width: 20%;
    }

}
